@import "tailwindcss";

@layer components {
  /* A general class for text taking care of light / dark theme
	 * and also providing some universal not bad looking font. */
  .txt-light-dark-sans {
    color: #171717; /* text-neutral-900 */
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
  }
  @media (prefers-color-scheme: dark) {
    .txt-light-dark-sans {
      color: #e5e5e5; /* text-neutral-200 */
    }
  }
}

:root {
  --background-surface: #171d1a;
  --primaryColor: #232926;
  --secondaryColor: #838981;
  --textColor: #e1e1e1;
  --highlightColor: #56bce8;
  --color5: #ddb892;
  --color6: #0ac189;
  --highlight2: #fbf2c6;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem 2rem;
  background-color: var(--primaryColor);
}

header p {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--highlightColor);
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

nav a {
  color: var(--secondaryColor);
  text-decoration: none;
  font-size: 1rem;
}

nav button{
  color: var(--secondaryColor);
  text-decoration: none;
  font-size: 1rem;
}

nav a:hover {
  color: var(--highlightColor);
}

header div {
  display: flex;
  gap: 1rem;
}
